/* header styles */
.header-block {
  width: 100%;
  margin: 0 auto;
  background-color: darkcyan;
}
.title-block {
  width: 716px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.title {
  font-size: 54px;
  line-height: 62px;
  color: whitesmoke;
}
.nav-li {
  display: inline-block;
}
.li {
  font-size: 18px;
  color: #cde6ea;
  line-height: 21.78px;
  margin-right: 30px;
  margin-left: 30px;
}
.navigation {
  background-color: cadetblue;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* main styles */
.slogan {
  font-size: 45px;
  color: #274c5b;
  width: 524px;
}
.slogan-description {
  font-size: 18px;
  color: #525c60;
  margin-top: 25px;
  margin-bottom: 36px;
  width: 671px;
  height: 60px;
}
.content-left {
  display: inline-block;
  width: 671px;
  vertical-align: top;
  text-align: left;
  margin-right: 380px;
}
.main-content {
  margin: 0 auto;
  padding: 50px 30px;
  padding-right: 0px;
  text-align: left;
  width: 100%;
}
.content-right {
  display: inline-block;
  background-color: #ececec;
  width: 425px;
  padding-left: 15px;
  padding-bottom: 15px;
  vertical-align: top;
 
}
.aside-title {
  font-size: 18px;
  color: #525c60;
  margin-top: 25px;
  margin-bottom: 36px;
  font-weight: bold;
}
.aside-descr {
  font-size: 18px;
  color: #525c60;
}
/* footer styles */
.footer-block {
  width: 100%;
  margin: 0 auto;
  background-color: darkcyan;
}
.footer-title {
  color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
